/* You can add global styles to this file, and also import other style files */
@import './styles/icons';

body, p, ul { margin: 0; padding: 0; }
a { text-decoration: none; color: inherit; }
ul { list-style-type: none }

body {
    font-family: 'Product Sans',Arial,sans-serif;
}

@import './styles/theme';
